# Docker
# Build and push Docker image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  # Update this to match your service connection name in Azure DevOps
  dockerRegistryServiceConnection: 'virtuallibraryacr'
  imageRepository: 'virtual-library-api'
  containerRegistry: 'virtuallibraryacr.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/virtual-library/api/VirtualLibrary.Api/Dockerfile'
  tag: '$(Build.BuildId)'
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build and push stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Docker@2
      displayName: Login to ACR
      inputs:
        command: login
        containerRegistry: $(dockerRegistryServiceConnection)
    
    - script: |
        docker build \
          -f virtual-library/api/VirtualLibrary.Api/Dockerfile \
          -t $(containerRegistry)/$(imageRepository):$(tag) \
          -t $(containerRegistry)/$(imageRepository):latest \
          .
        docker push $(containerRegistry)/$(imageRepository):$(tag)
        docker push $(containerRegistry)/$(imageRepository):latest
      displayName: 'Build and push Docker image'
      workingDirectory: $(Build.SourcesDirectory)
